.services {
  padding-top: 5rem;
  background-color: $fondo;

  .services__title {
    font-size: 6rem;

    @include pad {
      margin-bottom: 5rem;
    }
  }
}

.services__container {
  padding: 0 2rem 7rem;

  @include desktop {
    display: grid;
    grid-template-columns: 1fr 0.5rem 1fr;
    grid-template-rows: repeat(4, 54rem);
    column-gap: 3rem;
    row-gap: 5rem;
  }

  .services__line {
    display: none;

    @include desktop {
      display: block;
      grid-column: 2;
      grid-row: 1/5;
    }
  }

  .services__text {
    margin: 6rem 0 4rem;
    opacity: 0;
    transform: scale(0.8);
    transform: translateY(10rem);
    transition: all 0.7s ease;

    &.visible {
      opacity: 1;
      transform: scale(1);
      transform: translateY(0);
    }
  }

  .st1 {
    text-align: left;
  }

  .services__img {
    display: flex;
    align-items: center;
    opacity: 0;
    transform: scale(0.8);
    transform: translateY(10rem);
    transition: all 0.7s ease;

    &.visible {
      opacity: 1;
      transform: scale(1);
      transform: translateY(0);
    }
  }

  .st1 h3 {
    @include desktop {
      text-align: left;
    }
  }

  .st2 {
    @include desktop {
      grid-column: 3;
      grid-row: 2;
      text-align: end;
    }
  }

  .st2 h3 {
    @include desktop {
      text-align: end;
    }
  }

  .si2 {
    @include desktop {
      grid-column: 1;
      grid-row: 2;
    }
  }

  .st3 h3 {
    @include desktop {
      text-align: left;
    }
  }

  .st4 {
    @include desktop {
      grid-column: 3;
      grid-row: 4;
      text-align: end;
    }
  }

  .si4 {
    @include desktop {
      grid-column: 1;
      grid-row: 4;
    }
  }

  h3 {
    margin-bottom: 3rem;
    font-size: 3.5rem;

    @include pad {
      font-size: 4rem;
    }

    @include desktop {
      font-size: 5rem;
    }
  }

  p {
    margin-bottom: 1.5rem;
    @include desktop {
      font-size: 2rem;
    }
  }
}
